body {
    margin: 0;
    font-family: 'Londrina Solid', cursive;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background: url(../src/images/crisp-paper-ruffles.png), #9cc1d3;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
  
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #252525;
}

.main {
    margin: auto;
    width: 550px;

    margin-top: 20px;
    text-align: center;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
}

.list {
    overflow: auto;
    height: 75vh;
}

.footer {
    margin-top: 20px;
    margin-bottom: 5px;
}

.item {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
}

.item:first-child {
    margin-top: 5px;
}

.watched {
    outline: black solid 2px;
}

.watched:hover {
    cursor: pointer;
    outline-width: 4px;
}

.unwatched {
    outline: grey solid 2px;
    color: grey;
}

.mName {
    font-size: 1.5em;
    margin-left: 15px;
}

.mYear {
    margin-left: 5px;
    font-weight: lighter;
}

.mStars {
    float: right;
    margin-right: 15px;
    margin-top: 2px;
}

.mStar {
    width: 0.8em;
}