body {
    margin: 0;
    font-family: 'Londrina Solid', cursive;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background: url(../src/images/crisp-paper-ruffles.png), #9cc1d3;
}

.main {
    margin: auto;
    width: 50%;

    margin-top: 3vh;
    text-align: center;
}

.title {
    font-size: 4vw;
    margin-bottom: 5vh;
}

.item {
    margin: auto;
    width: 50%;
    
    border-radius: 5px;
    height: 7vh;
    line-height: 7vh;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 3vh;
}

.watched {
    outline: black solid 2px;
}

.unwatched {
    outline: grey solid 2px;
    color: grey;
}

.mName {
    font-size: 1.4vw;
    margin-left: 15px;
}

.mYear {
    margin-left: 4px;
    font-weight: lighter;
}